body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: white;
    padding-top: 100px;
    text-align: center;
    font-size: 80px;
}
h1 {
    display: none;
}

/* Widescreen */
@media(min-width:1201px){
    body {
        font-size: 90px;
}
    #widescreen h1{
        display: block;
    }
}
    
/* Normal */
@media(min-width:769) and (max-width:1200px) {
    body {
font-size: 80px;
    }
#normal h1{
    display: block;
}
}

/* Tablet */
@media(min-width: 501px) and (max-width:768px) {
    body {
font-size: 60px;
    }
#tablet h1{
    display: block;
}
}

/* Smartphones */
@media(max-width:500px) {
    body {
        font-size:50px ;
    }
    #smartphones h1{
        display: block;
    }
}

/* Landscape */
@media (max-height:500px) {
    body {
font-size: 70px;
    }
#landscape h1{
    display: block;
}
}