
.container {
    width: 500px;
    height: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgb(249, 223, 227);
    border:2px solid black;
    border-radius: 20px;
}

main {
   text-align: center;
}

.profile-picture {
    width: 120px;
    margin: auto;
    display: block;
    border: 1px solid black;
}

.welcome {
    font-style: italic;
}

#id {
    color: deeppink;
    font-weight: bold;
    font-style: normal;
}

#heart {
    color: red;
    font-size: large;
}

#h2 {
    font-family: "Sofia", sans-serif;
}

.p1 {
    font-family: "Trirong", serif;
}

.p2 {
    font-family: "Trirong", serif;
}

h4 {
   margin-left: 20px;
}

#facebook {
    color: blue;
}

#instagram {
    color:blueviolet;
}