
/* Home Page Styline*/
body {
    margin: 0;
    background-color: rgb(249, 223, 227);
}

.navbar {
    list-style: none;
   margin:0 ;
    padding: 2%;
    background: black ;
    overflow:auto;
}

.navbar li {
    float: left;
    display: inline;
    font-size: large;
    padding: 1%;
}

.navbar li a {
    color: white;
    padding: 15px 20px;
    font-family: cursive;
    text-decoration: none;
}

.navbar li a:hover {
    color: rgb(255, 80, 223);
}
.Home {
    margin: 2%;
    padding: 10%;
    text-align: center;
    text-decoration: none;
}

 .profile-picture {
     width: 120px;
     margin: auto;
     display: block;
     border: 1px solid black;
 }
 
#p1 {
     font-style: italic;
    font-size: xx-large;
}
 
 #id {
     color: deeppink;
     font-weight: bold;
     font-style: normal;
     font-size: xx-large;
 }
 
 #heart {
     color: red;
     font-size: x-large;
 }

 #p2 {
    font-family: "Sofia", sans-serif;
    font-size: x-large;
 }

/*About Me Page Styling*/
.AboutMe {
font-family: "Trirong", serif;
   float: left;
   margin: 20%;
   font-size: large;
}

.btn {
    background-color:#327ef8 ;
    color: white;
    background-origin: none;
    font-size: medium;
    padding: 2px 2px;
    cursor: pointer;
}

.btn:hover {
background-color: #66a0fd ;
color: #f4f4f4;
} 


/*Contact Me Page Styling*/
.ContactMe {
    margin: 2%;
    padding: 10%;
    text-align: center;
    font-size: x-large;
}

header {
    font-size: xx-large;
    font-weight: bolder;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

#facebook {
    color: blue;
}

#instagram {
    color:blueviolet;
}