#h1 {
   border: 1px solid red;
   border-radius: 7px;
    font-size: 20px;
}

#h2 {
    font-weight: bold;
    font-style: italic;
}

#h3 {
    color: white;
    text: shadow 40px;
    font-family: monospace;
    background-color: black;
}